In [69]:
import pandas as pd
import h5py

In [68]:
hdf = pd.HDFStore("../data/GSE132802_RAW/SKIN_HV2.h5", mode="r")
hdf.keys()

[]

In [61]:
data = pd.read_hdf("../data/GSE132802_RAW/SKIN_HV2.h5")

ValueError: No dataset in HDF5 file.

In [70]:
filename = "../data/GSE132802_RAW/Skin_Dress1.h5"

with h5py.File(filename, "r") as f:
    # List all groups
    print(f"Keys: {f.keys()}")
    a_group_key = list(f.keys())[0]
    print(f"Values: {f.values()}")

    # Get the data
    data = list(f[a_group_key])
    print(data)

Keys: <KeysViewHDF5 ['GRCh38']>
Values: ValuesViewHDF5(<HDF5 file "Skin_Dress1.h5" (mode r)>)
['barcodes', 'data', 'gene_names', 'genes', 'indices', 'indptr', 'shape']

In [82]:
np.array(h5py.File("../data/GSE132802_RAW/Skin_Dress1.h5")["GRCh38"])

array(['barcodes', 'data', 'gene_names', 'genes', 'indices', 'indptr',
       'shape'], dtype='<U10')

In [98]:
df = pd.DataFrame({"indices": np.array(h5py.File("../data/GSE132802_RAW/Skin_Dress1.h5")["GRCh38"]["indices"])})
df

          indices
0           33664
1           33663
2           33662
3           33661
4           33660
5           33659
6           33658
7           33657
8           33656
9           33655
10          33654
11          33653
12          33652
13          33651
14          33648
15          33635
16          33630
17          33621
18          33600
19          33598
20          33568
21          33550
22          33533
23          33530
24          33529
25          33497
26          33496
27          33476
28          33458
29          33436
...           ...
17113270      223
17113271      221
17113272      218
17113273      216
17113274      207
17113275      202
17113276      197
17113277      188
17113278      176
17113279      171
17113280      170
17113281      162
17113282      153
17113283      123
17113284      112
17113285      101
17113286       97
17113287       77
17113288       75
17113289       72
17113290       61
17113291       60
17113292       59
17113293       55
17113294       54
17113295       53
17113296       49
17113297       45
17113298       43
17113299       33

[17113300 rows x 1 columns]

In [97]:
df2 = pd.DataFrame({"data":np.array(h5py.File("../data/GSE132802_RAW/Skin_Dress1.h5")["GRCh38"]["data"])})
df2

          data
0          103
1            4
2           36
3           67
4          146
5           28
6          164
7          128
8           37
9          373
10         270
11          30
12          92
13           1
14           1
15          30
16          28
17           6
18           2
19           1
20           1
21          20
22           1
23           2
24           1
25           2
26           2
27           2
28           1
29           1
...        ...
17113270     2
17113271     1
17113272     1
17113273     5
17113274     2
17113275     1
17113276    17
17113277     5
17113278     3
17113279     1
17113280     1
17113281     1
17113282    32
17113283     1
17113284     1
17113285     4
17113286     3
17113287     5
17113288     1
17113289     4
17113290     5
17113291     1
17113292    11
17113293     1
17113294     1
17113295     1
17113296     1
17113297     3
17113298     1
17113299     9

[17113300 rows x 1 columns]

In [99]:
df3 = pd.DataFrame({"data":np.array(h5py.File("../data/GSE132802_RAW/Skin_Dress1.h5")["GRCh38"]["genes"])})
df3

                     data
0      b'ENSG00000243485'
1      b'ENSG00000237613'
2      b'ENSG00000186092'
3      b'ENSG00000238009'
4      b'ENSG00000239945'
5      b'ENSG00000239906'
6      b'ENSG00000241599'
7      b'ENSG00000279928'
8      b'ENSG00000279457'
9      b'ENSG00000228463'
10     b'ENSG00000236743'
11     b'ENSG00000236601'
12     b'ENSG00000237094'
13     b'ENSG00000278566'
14     b'ENSG00000230021'
15     b'ENSG00000235146'
16     b'ENSG00000273547'
17     b'ENSG00000229905'
18     b'ENSG00000237491'
19     b'ENSG00000177757'
20     b'ENSG00000225880'
21     b'ENSG00000230368'
22     b'ENSG00000272438'
23     b'ENSG00000230699'
24     b'ENSG00000241180'
25     b'ENSG00000223764'
26     b'ENSG00000187634'
27     b'ENSG00000188976'
28     b'ENSG00000187961'
29     b'ENSG00000187583'
...                   ...
33664  b'ENSG00000198727'
33665  b'ENSG00000274175'
33666  b'ENSG00000275869'
33667  b'ENSG00000273554'
33668  b'ENSG00000278782'
33669  b'ENSG00000277761'
33670  b'ENSG00000277836'
33671  b'ENSG00000277666'
33672  b'ENSG00000276760'
33673  b'ENSG00000275249'
33674  b'ENSG00000274792'
33675  b'ENSG00000278704'
33676  b'ENSG00000277400'
33677  b'ENSG00000274847'
33678  b'ENSG00000273496'
33679  b'ENSG00000276256'
33680  b'ENSG00000278198'
33681  b'ENSG00000273748'
33682  b'ENSG00000276017'
33683  b'ENSG00000278817'
33684  b'ENSG00000277196'
33685  b'ENSG00000277630'
33686  b'ENSG00000278384'
33687  b'ENSG00000278633'
33688  b'ENSG00000276345'
33689  b'ENSG00000277856'
33690  b'ENSG00000275063'
33691  b'ENSG00000271254'
33692  b'ENSG00000277475'
33693  b'ENSG00000268674'

[33694 rows x 1 columns]

In [102]:
df4 = pd.DataFrame({"data":np.array(h5py.File("../data/GSE132802_RAW/Skin_Dress1.h5")["GRCh38"]["gene_names"])})
df4

                   data
0       b'RP11-34P13.3'
1            b'FAM138A'
2              b'OR4F5'
3       b'RP11-34P13.7'
4       b'RP11-34P13.8'
5      b'RP11-34P13.14'
6       b'RP11-34P13.9'
7         b'FO538757.3'
8         b'FO538757.2'
9         b'AP006222.2'
10     b'RP5-857K21.15'
11      b'RP4-669L17.2'
12     b'RP4-669L17.10'
13            b'OR4F29'
14      b'RP5-857K21.4'
15      b'RP5-857K21.2'
16            b'OR4F16'
17     b'RP11-206L10.4'
18     b'RP11-206L10.9'
19            b'FAM87B'
20         b'LINC00115'
21            b'FAM41C'
22      b'RP11-54O7.16'
23       b'RP11-54O7.1'
24       b'RP11-54O7.2'
25       b'RP11-54O7.3'
26            b'SAMD11'
27             b'NOC2L'
28            b'KLHL17'
29           b'PLEKHN1'
...                 ...
33664         b'MT-CYB'
33665     b'AC133551.1'
33666     b'AC136612.1'
33667     b'AC136616.1'
33668     b'AC136616.3'
33669     b'AC136616.2'
33670     b'AC141272.1'
33671     b'AC136352.5'
33672     b'AC136352.4'
33673     b'AC171558.2'
33674     b'AC171558.1'
33675     b'BX004987.4'
33676     b'AC145212.4'
33677     b'AC145212.2'
33678     b'AC011841.1'
33679     b'AC011043.1'
33680     b'AC011043.2'
33681     b'AL592183.1'
33682     b'AC007325.1'
33683     b'AC007325.4'
33684     b'AC007325.2'
33685     b'BX072566.1'
33686     b'AL354822.1'
33687     b'AC023491.2'
33688     b'AC004556.1'
33689     b'AC233755.2'
33690     b'AC233755.1'
33691     b'AC240274.1'
33692     b'AC213203.1'
33693        b'FAM231B'

[33694 rows x 1 columns]

In [113]:
data_index_df = pd.concat([df, df2.reindex(df.index)], axis = 1)
data_index_df

          indices  data
0           33664   103
1           33663     4
2           33662    36
3           33661    67
4           33660   146
5           33659    28
6           33658   164
7           33657   128
8           33656    37
9           33655   373
10          33654   270
11          33653    30
12          33652    92
13          33651     1
14          33648     1
15          33635    30
16          33630    28
17          33621     6
18          33600     2
19          33598     1
20          33568     1
21          33550    20
22          33533     1
23          33530     2
24          33529     1
25          33497     2
26          33496     2
27          33476     2
28          33458     1
29          33436     1
...           ...   ...
17113270      223     2
17113271      221     1
17113272      218     1
17113273      216     5
17113274      207     2
17113275      202     1
17113276      197    17
17113277      188     5
17113278      176     3
17113279      171     1
17113280      170     1
17113281      162     1
17113282      153    32
17113283      123     1
17113284      112     1
17113285      101     4
17113286       97     3
17113287       77     5
17113288       75     1
17113289       72     4
17113290       61     5
17113291       60     1
17113292       59    11
17113293       55     1
17113294       54     1
17113295       53     1
17113296       49     1
17113297       45     3
17113298       43     1
17113299       33     9

[17113300 rows x 2 columns]

In [114]:
def fill_row_gene_name(row):
    idx = row["indices"]
    gene = df4.loc[idx, "data"]
    return gene.decode("utf-8")
def fill_row_gene(row):
    idx = row["indices"]
    gene = df3.loc[idx, "data"]
    return gene.decode("utf-8")

In [115]:
data_index_df

          indices  data
0           33664   103
1           33663     4
2           33662    36
3           33661    67
4           33660   146
5           33659    28
6           33658   164
7           33657   128
8           33656    37
9           33655   373
10          33654   270
11          33653    30
12          33652    92
13          33651     1
14          33648     1
15          33635    30
16          33630    28
17          33621     6
18          33600     2
19          33598     1
20          33568     1
21          33550    20
22          33533     1
23          33530     2
24          33529     1
25          33497     2
26          33496     2
27          33476     2
28          33458     1
29          33436     1
...           ...   ...
17113270      223     2
17113271      221     1
17113272      218     1
17113273      216     5
17113274      207     2
17113275      202     1
17113276      197    17
17113277      188     5
17113278      176     3
17113279      171     1
17113280      170     1
17113281      162     1
17113282      153    32
17113283      123     1
17113284      112     1
17113285      101     4
17113286       97     3
17113287       77     5
17113288       75     1
17113289       72     4
17113290       61     5
17113291       60     1
17113292       59    11
17113293       55     1
17113294       54     1
17113295       53     1
17113296       49     1
17113297       45     3
17113298       43     1
17113299       33     9

[17113300 rows x 2 columns]

In [116]:
data_index_df["gene_name"] = data_index_df.apply(lambda row: fill_row_gene_name(row), axis=1)
data_index_df["gene"] = data_index_df.apply(lambda row: fill_row_gene(row), axis=1)
data_index_df

          indices  data gene_name             gene
0           33664   103    MT-CYB  ENSG00000198727
1           33663     4    MT-ND6  ENSG00000198695
2           33662    36    MT-ND5  ENSG00000198786
3           33661    67    MT-ND4  ENSG00000198886
4           33660   146   MT-ND4L  ENSG00000212907
5           33659    28    MT-ND3  ENSG00000198840
6           33658   164    MT-CO3  ENSG00000198938
7           33657   128   MT-ATP6  ENSG00000198899
8           33656    37   MT-ATP8  ENSG00000228253
9           33655   373    MT-CO2  ENSG00000198712
10          33654   270    MT-CO1  ENSG00000198804
11          33653    30    MT-ND2  ENSG00000198763
12          33652    92    MT-ND1  ENSG00000198888
13          33651     1     PRMT2  ENSG00000160310
14          33648     1      PCNT  ENSG00000160299
15          33635    30    COL6A2  ENSG00000142173
16          33630    28    COL6A1  ENSG00000142156
17          33621     6   COL18A1  ENSG00000182871
18          33600     2     SUMO3  ENSG00000184900
19          33598     1    UBE2G2  ENSG00000184787
20          33568     1   C21orf2  ENSG00000160226
21          33550    20      CSTB  ENSG00000160213
22          33533     1    PKNOX1  ENSG00000160199
23          33530     2    NDUFV3  ENSG00000160194
24          33529     1      WDR4  ENSG00000160193
25          33497     2       MX1  ENSG00000157601
26          33496     2       MX2  ENSG00000183486
27          33476     2     BRWD1  ENSG00000185658
28          33458     1    DYRK1A  ENSG00000157540
29          33436     1      CBR3  ENSG00000159231
...           ...   ...       ...              ...
17113270      223     2       PGD  ENSG00000142657
17113271      221     1     UBE4B  ENSG00000130939
17113272      218     1      LZIC  ENSG00000162441
17113273      216     5  CTNNBIP1  ENSG00000178585
17113274      207     2     SPSB1  ENSG00000171621
17113275      202     1    GPR157  ENSG00000180758
17113276      197    17      ENO1  ENSG00000074800
17113277      188     5     PARK7  ENSG00000116288
17113278      176     3    CAMTA1  ENSG00000171735
17113279      171     1     PHF13  ENSG00000116273
17113280      170     1    KLHL21  ENSG00000162413
17113281      162     1      HES2  ENSG00000069812
17113282      153    32     RPL22  ENSG00000116251
17113283      123     1  ARHGEF16  ENSG00000130762
17113284      112     1   FAM213B  ENSG00000157870
17113285      101     4      RER1  ENSG00000157916
17113286       97     3    FAAP20  ENSG00000162585
17113287       77     5      MIB2  ENSG00000197530
17113288       75     1  C1orf233  ENSG00000228594
17113289       72     4     SSU72  ENSG00000160075
17113290       61     5    MRPL20  ENSG00000242485
17113291       60     1     CCNL2  ENSG00000221978
17113292       59    11  AURKAIP1  ENSG00000175756
17113293       55     1      CPTP  ENSG00000224051
17113294       54     1    CPSF3L  ENSG00000127054
17113295       53     1     PUSL1  ENSG00000169972
17113296       49     1    UBE2J2  ENSG00000160087
17113297       45     3      SDF4  ENSG00000078808
17113298       43     1  TNFRSF18  ENSG00000186891
17113299       33     9     ISG15  ENSG00000187608

[17113300 rows x 4 columns]